button {
  display: block;
  font-family: NotoSans !important;
  margin: 8px;
  cursor: pointer;
}

/* blue button with animation */
.button-1 {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  min-height: 48px;
  min-width: 100px;
  padding: 14px 18px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-1:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-1 {
    padding: 12px 32px;
    min-width: 120px;
  }
}

/* purple button */
.button-2 {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform, opacity;
}

.button-2:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
}

.button-2:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0, rgba(0, 0, 0, 0.14) 0 0 0 0, rgba(0, 0, 0, 0.12) 0 0 0 0;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
  pointer-events: none;
}

.button-2:not(:disabled) {
  background-color: #6200ee;
}

.button-2:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
}

.button-2:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px, rgba(0, 0, 0, 0.14) 0 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
  background: #a46bf5;
}

.button-4 {
  font-size: var(--ifm-font-size-base);
  background-color: var(--ifm-color-primary-darker);
  border: 1px solid var(--ifm-color-primary-darker);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-4:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-4 {
    padding: 10px 30px;
  }
}

.default {
  appearance: none;
  font-size: var(--ifm-font-size-base);
  background-color: var(--ifm-color-primary-darker);
  border: 1px solid var(--ifm-color-primary-darker);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.default:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.default:hover {
  background-color: #3d67d7;
  border: 1px solid #3d67d7;
}

[data-theme="dark"] .default:hover {
  background-color: #8da3e1;
  border: 1px solid #8da3e1;
}

.default:focus {
  background-color: var(--ifm-color-primary-darker);
  border: 1px solid var(--ifm-color-primary-darker);
  outline: none;
}

.default:disabled {
  background-color: var(--ifm-color-primary-darker);
  border: 1px solid var(--ifm-color-primary-darker);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.default:active {
  background-color: var(--ifm-color-primary);
  border: 1px solid var(--ifm-color-primary);
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.light {
  appearance: none;
  font-size: var(--ifm-font-size-base);
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #24292e;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.light:hover {
  background-color: #b5b9c21c;
  text-decoration: none;
  transition-duration: 0.1s;
}

[data-theme="dark"] .light {
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #3d67d7;
  color: #fff;
}

[data-theme="dark"] .light:hover {
  background-color: #6986d7;
  text-decoration: none;
  transition-duration: 0.1s;
}

[data-theme="dark"] .default:active {
  background-color: #3962d4;
  border: 1px solid #3962d4;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition-duration: 0.1s;
}

.light:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.light:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

[data-theme="dark"] .light:active {
  background-color: #567de6;
  transition: none 0s;
}

.light:focus {
  outline: 1px transparent;
}

.light:before {
  display: none;
}

.light:-webkit-details-marker {
  display: none;
}

.pulse {
  color: #fff;
  cursor: pointer;
  font-size: var(--ifm-font-size-base);
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 2em;
  position: relative;
  text-decoration: none;
  padding: 4px 24px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(55, 44, 211, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: var(--ifm-color-primary-dark);
  border: 1px solid var(--ifm-color-primary-darker);
}

[data-theme="dark"] .pulse {
  outline-color: rgba(255, 255, 255, 0.5);
}

.pulse:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(51, 45, 140, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

[data-theme="dark"] .pulse:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
