.capsule {
  height: 36px;
  width: 80px;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-flex;
  margin: 0 auto;
  background: transparent;
  border-radius: 80px;
  border: 1px solid #95adee;
  align-items: center;
  justify-content: space-between;
}

.capsuleLeft {
  width: 50%;
  display: inline;
  justify-content: center;
  padding: 8px;
  padding-top: 14px;
  padding-left: 6px;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
}

.capsuleRight {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  padding-top: 14px;
}
